.caja1{
		background: yellow;
		display: block;
		margin: 0;
		height: 10%;
}
.caja2{
	background: red;
		display: block;
		margin: 0;
		height: 10%;
}
.caja3{
	background: yellow;
		display: block;
		margin: 0;
		height: 10%;
}