.caja1{
		background: yellow;
		display: block;
		width: 30%;
		height: 10%;
}
.caja2{
	background: red;
		display: block;
		height: 10%;
		width: 30%;
}
.caja3{
	background: yellow;
		display: block;
		height: 10%;
		width: 30%;
}