
.caja1{
	background: yellow;
	display: inline-block;
	padding: 1% 2% 5% 1%;
	width: 25%;
}
.caja2{
	background: red;
	display: inline-block;
	padding: 1% 2% 5% 1%;
	width: 25%;
}
.caja3{
	background: yellow;
	display: inline-block;
	padding: 1% 2% 5% 1%;
	width: 25%;
}